
header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
<<<<<<< HEAD
=======
.left {
    display: flex;
    align-items: center;
}
a {
    margin-left: 3rem;
}
img {
    height: 5rem;
    width: 10rem;
}

#navbar {
    position: fixed;
}

.container {
    text-align: center;
}

>>>>>>> css
